* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(48, 48, 48);  
  font-family: 'Poppins';
}
.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
  max-width: 920px;
}